
.container{
  background-color:rgb(241, 203, 121);
}

.logo{
  width:100px;
}

.search{
  position:relative;
  margin-left: 20px;
  margin-top: 38px;
  width: 250px;
}

.nav-link{
  position: relative;
  top: 30%;
  left: 20px;
}

.logo-render{
  display: none;
}