.other-recipe-container{
    opacity:1;
    overflow: auto;
    transition: visibility 0.2s, opacity 0.2s;
    position: absolute;
    width: 78em;
    height: 27em;
    align-items: center;
    top: 20%;
    left: 14px;
    padding: 10px;
    border: 1px;
    border-radius: 30px;
    font-family: "Avenir";
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 2s;
    background-color: rgb(232,229,218);
}

.other-recipeClose {
    position: absolute;
    right: 0px;
    width: 1px;
    height: 1px;
    margin-right: 40px;
    margin-top: 2px;
    opacity: 0.3;
    border: none;
}
.other-recipeClose:hover {
    opacity: 1;
    outline: none;
}
.other-recipeClose:before, .other-recipeClose:after {
    position: absolute;
    left: 10px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}
.other-recipeClose:before {
    transform: rotate(45deg);
    outline: none;
}
.other-recipeClose:after {
    transform: rotate(-45deg);
    outline: none;
}

.other-recipe-name{      
    position: relative;
    top: 20px;
    left: 0px;
    width: 850px;
    text-align: center;
    font-weight: bold;
    border: solid;
    font-size: 30px;
    color: rgb(105, 82, 56);
    background-color: rgb(232,229,218);
   
}

.other-recipe-description {
    display: block;
    position: relative;
    width: 50%;
    height: 310px;
    top: 40px;
    font-style: italic;
    font-size: 20px;
    background-color: rgb(232,229,218);
    left: 60px;
    padding-left: 15px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    color: rgb(105, 82, 56)
}

.other-recipe-image{
    position: absolute;
    display:block;
    width: 400px;
    height: 300px;
    left: 750px;
    top: 100px;
}

.other-ingredients{
    position: relative;
    top: 50px;
    font-weight: bold;
    font-size: 25px;
}

.other-ingredient-box{
    position: relative;
    top: 50px;
}

.other-ingredient-input{
    display: flex;
}

.other-ingredient-name{
    position: relative;
    height: 36px;
    width: 300px;
    font-size: 20px;
    font-style: italic;
    margin-top: 10px;
    left: 10px;
    color: rgb(105, 82, 56);
    background-color: rgb(232,229,218);
}

.other-ingredient-quantity{
    position: relative;
    height: 36px;
    margin-top: 10px;
    font-size: 20px;
    font-style: italic;
    width: 145px;
    left: 50px;
    color: rgb(105, 82, 56);
    background-color: rgb(232,229,218);
}

.other-ingredient-comments{
    position: relative;
    height: 36px;
    width: 608px;
    font-size: 20px;
    font-style: italic;
    margin-top: 10px;
    left: 80px;
    color: rgb(105, 82, 56);
    background-color: rgb(232,229,218);
    border: none;
}

.other-no-ingredients{
    font-size: 20px;
    font-style: italic;
    color: rgb(105, 82, 56);
}



.other-steps{
    position: relative;
    top: 50px;
    font-weight: bold;
    font-size: 25px;
    color: rgb(105, 82, 56);
}

.other-step-box{
    position: relative;
    top: 50px;
}

.other-step-input{
    display: flex;
}

.other-step-number{
    position: relative;
    height: 36px;
    width: 32px;
    font-size: 20px;
    font-style: italic;
    margin-top: 10px;
    left: 10px;
    color: rgb(105, 82, 56);
    background-color: rgb(232,229,218);
}

.other-step-comments{
    position: relative;
    height: 36px;
    margin-top: 10px;
    font-size: 20px;
    font-style: italic;
    width: 1070px;
    left: 30px;
    color: rgb(105, 82, 56);
    background-color: rgb(232,229,218);
    border: none;
}


.other-no-steps{
    font-size: 20px;
    font-style: italic;
}

.other-author-name{
    position: absolute;
    height: 36px;
    width: 280px;
    font-size: 20px;
    font-style: italic;
    border: solid;
    top: 10px;
    left: 870px;
    color: rgb(105, 82, 56);
    background-color: rgb(232,229,218);
}

.other-star-rating{
    position: absolute;
}